@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

html,
body {
  font-family: 'Lexend Mega', sans-serif;
  background-color: rgba(0, 0, 0, 0.15);
  color:rgba(0, 0, 0, 0.8);
  max-width: 1200px;
  margin: auto;
}

header {
  text-align: center;
  margin: auto;
}

main {
  text-align: center;
}

h1 {
  margin-top: 0;
  padding: 20px;
  font-size: 4vw;
}

h1,
h2,
h3 {
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
  color: black;
}

a:visited {
  color: black;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 10px; 
}

nav li {
  list-style: none;
  text-decoration: none;
}

section {
  height: 100%;
}

#mission {
  background-image: url('./images/milada-vigerova-iQWvVYMtv1k-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  display: flex;
  align-items: center;
}

.banner { 
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section-content {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 24px;
  text-align: center;
  width: 100%;
}

#portfolio {
  text-align: center;
  padding: 36px 0;
  background-color: rgba(0, 0, 0, 0.05);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  max-width: 100%;
}

.project {
  width: 400px;
  margin-top: 3rem;
}

.projects img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.project figcaption,
.project figcaption a,
.team-card figcaption, 
.team-card figcaption a {
  font-size: .5rem;
  color: rgba(0, 0, 0, 0.4);
}

.project-name {
  font-size: 2rem;
  min-height: 80px;
  margin: auto;
}

.project-description {
  color:rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  text-align: justify;
  padding: 0 5%;
}

.image-position-top {
  object-position: top;
}

#team {
  background-image: url('./images/ian-schneider-TamMbr4okv4-unsplash.jpg');
  padding: 36px;
}

#team h3 {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px;
  border-radius: 5px;
  margin-top: 0;
}

.team-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-card img {
  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
.team-card figcaption, 
.team-card figcaption a {
  font-size: .5rem;
  color: rgba(255, 255, 255, 0.6);
}

.team-member-info {
  text-align: left;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 24px;
  margin: 0 auto;
  border-radius: 10px 10px 10px 0px;
}

.team-card img {
  width: 300px;
}

.team-card .info {
  font-size: 0.8rem;
}

footer {
  text-align: center;
}

footer address {
  display: inline-block;
  font-size: 0.8rem;
}

footer address p {
  line-height: 0.5;
}

/* Media */

@media screen and (min-width: 481px) {

  section {
    min-height: 800px;
  }
  
}

@media screen and (max-width: 480px) {

  h1 {
    margin-top: 0;
    font-size: 1.8rem;
    padding-top: 20px;
  }

  section { 
    margin: 0;
    border-radius: 0;
  }

  #mission {
    border-radius: 0;
    background-size: cover;
  }

  nav {
    display: none;
  }

  #team h3 {
    font-size: 1rem;
  }

  .team-card {
    margin: 96px auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .team-card figure {
    width: 100%;
  }

  .team-card figure img {
    width: 100%;
  }

  .team-member-info {
    width: 80%;
    border-radius: 10px;
    text-align: center;
    padding: 0 24px;
  }

  .team-member-name {
    font-weight: 900;
    font-size: 1.4rem;
  }

  .position {
    font-size: 0.8rem;
  }

  .info {
    display: none;
  }

}